.registration-container {
    box-sizing: border-box;
    background-color: white;
    color: black;
}

/* Add padding to containers */
.registration-container {
    padding: 16px;
}

/* Full-width input fields */
.registration-container input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    /*border: none;*/
    background: #f1f1f1;
}

    .registration-container input[type=text]:focus, input[type=password]:focus {
        background-color: rgba(221, 221, 221, 0.59);
        outline: none;
    }

/* Set a style for the submit/register button */
.registerbtn {
        background-color: rgba(1, 6, 75, 0.91);
        color: white;
        padding: 16px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
    }

 .registerbtn:hover {
            opacity: 1;
            background-color: white;
        color: black;
        }

/* Add a blue text color to links */
.registration-container a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.container-signin {
    background-color: #f1f1f1;
    text-align: center;
}