.event-img {
    width: 50%;

}

th, td {
    text-align: center;
}

.events-container {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}
#event-table-container {
    padding: 0;
}

.events-container table {
    justify-self: center;
}
.table th, .table td {
    padding: 1.5rem 0;
    vertical-align: central;
}

.table td.first-event-column {
    max-width: 100px;
    padding: 5px;
    margin: 0;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .event-img {
        display: none;
    }
}
@media screen and (max-width: 990px) {
    .event-img {
        width: 100%;
    }
}