.band-details {
    margin-top: 1rem;
}

.band-details {
    padding: 0.5rem 0;
    --border-width: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: black;
    background: white;
    border-radius: var(--border-width);
}

.band-details::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(60deg, #5f86f2, #a65ff2, #f25fd0, #f25f61, #f2cb5f, #abf25f, #5ff281, #5ff2f0);
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
    50% {
        background-position: 100% 50%;
    }
}

.band-banner {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
}

.band-banner img {
    width: 100%;
    height: auto;
}

.band-info {
}

.band-info:hover {

}

.biography {

}

.band-empty {
    margin-top: 1.25rem;
    text-align: center;
    color: white;
}

.search-band {
    padding: 0.4rem 0.6rem;
    margin-top: 0;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.search-band:hover {
    background: #1DB954;
}

#search-band-field {
    padding: 0.3rem 0;
}

.artists {
    min-height: 75vh;
}

#noresult {
    margin-top: 20vh;
}

@media screen and (max-width: 600px) {
    .band-detail-search {
        display: flex;
        justify-content: center;
    }
}