.band-details {
    margin-top: 1rem;
}
.band-details, .band-detail-search {
    padding: 0.5rem 0;
}

.band-banner {
    display: flex;
    padding: 1rem 0;
    justify-content: center;
}
.band-banner img {
    width: 100%;
    height: auto;
}

.band-info{
}
.band-info:hover {

}

.biography {

}
.band-empty {
    margin-top: 1.25rem;
    text-align: center;
}